:root {
    --corDestaque: #7F339A;
    --corFundo: #170A1C;
    --corTercearia: #52365C;
    --corVerde: #2E8B57;
    --corBrancoPerola: #F0E6FF;
    --corAzulClaro: #5995CE;
    --corAzulEscuro: #297FBD;
    --corRoxoClaro: #845AD7; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: var(--corFundo);
}

.ComeceAgoraArea {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3.5rem;
}

.ComeceAgoraArea h1 {
    color: var(--corBrancoPerola);
    margin-bottom: 1.5rem;
}

.ComeceAgoraArea a {
    padding: 10px;
    background-color: var(--corAzulClaro);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: large;
    box-shadow: 1px 1px 5px 1px black;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: fit-content;
    margin: 0 auto;
}

.ComeceAgoraArea a:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.bannerArea {
    display: flex;
    align-items: center;
    justify-content: center;

}

.profArea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 5vh;
    flex-direction: column;
}

.profArea h1 {
    margin-bottom: 4.5vh;
    color: var(--corBrancoPerola);
    font-size: 2em;
}

.profImgsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 14vh;
}

.profImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--corBrancoPerola);
    overflow: hidden;
    position: relative;
}

.profItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profName {
    color: var(--corBrancoPerola);
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 8px 15px;
    border-radius: 15px;
    background: var(--corVerde);
    width: fit-content;
    margin: 0 auto;
}

.profImg img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    object-position: center center;
    top: 0;
    left: 0;
}

.profImg:nth-child(1) img {
    position: absolute;
    top: -2%;
    left: 5%;
    object-position: center 30%;
}

.questoesContainer {
    display: flex;
    flex-direction: column;
    padding: 0 3vh;
    margin-bottom: 5vh;
}

.questoesContainer h2 {
    text-align: left;
    margin: 3vh 3vh 1.5vh 3vh;
    color: var(--corBrancoPerola)
}

.questoesContainer h4 {
    text-align: left;
    margin: 1.5vh 3vh;
    margin-bottom: 4vh;
    color: var(--corBrancoPerola)
}

.questoesContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.questContArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 35%;
}

.questContArea a {
    background-color: var(--corAzulClaro);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: large;
    box-shadow: 1px 1px 5px 1px black;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.questEnemeArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 50%;
}

.questEnemeArea a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corAzulEscuro);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px black;
    width: 80%;
    height: 6em;
    padding: 5px;
}

.CadasAgoraArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    background-color: var(--corBrancoPerola);
    border-radius: 20px 20px;
    height: 50vh;
}

.CadasAgoraArea h1 {

    color: var(--corVerde);
    margin-bottom: 0.5em;
    margin-top: 2.5em;

}

.CadasAgoraArea a {
    background-color: var(--corDestaque);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px black;
    width: fit-content;
    padding: 8px;
    margin-top: 2.5em;
    justify-content: center;
    font-size: larger;
}