:root {
    --corDestaque: #7F339A;
    --corFundo: #170A1C;
    --corTercearia: #52365C;
    --corVerde: #2E8B57;
    --corBrancoPerola: #F0E6FF;
}

* {
    margin: 0;
    padding: 0;
    border: border-box;
}

.footerContainer {
    background-color: var(--corBrancoPerola);
    border-top: 2px solid var(--corDestaque);
    padding: 40px 20px;
    margin-top: 25px;
    border-radius: 15px 15px 0 0 ;
}

.footerGrid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-item {
    padding: 0;
    display: flex; 
    flex-direction: column;
}

.grid-item a{
    text-decoration: none;
    color: black;
}

.grid-item a:hover{
    color: var(--corDestaque);
}

.grid-item h3 {
    color: var(--corVerde);
    margin-bottom: 10px;
}

.grid-item p {
    color: black;
    margin-bottom: 8px;
    cursor: pointer;
}

.support-button {
    color: var(--corDestaque);
}