:root {
    --corDestaque: #7F339A;
    --corFundo: #170A1C;
    --corTercearia: #52365C;
    --corVerde: #2E8B57;
    --corBrancoPerola: #F0E6FF;
}

* {
    margin: 0;
    padding: 0;
    border: border-box;
}

.logo>a {
    text-decoration: none;
}

.logo span {
    font-size: 1.4rem;
    text-decoration: none;
}

.logo .mesoName {
    color: #2E8B57;
}

.logo .mindsName {
    color: #F0E6FF;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 1vh 1vh;
    padding: 0 20px;
}

nav>div:first-child {
    margin-right: auto;
}

nav>a {
    margin: 0 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.espacoVazio {
    margin-left: auto;
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
    background-color: transparent;

}