* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.logo>a {
    text-decoration: none;
}

.logo span {
    font-size: 1.4rem;
    text-decoration: none;
}

.logo .mesoName {
    color: black;
}

.logo .mindsName {
    color: #F0E6FF;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 1vh 1vh;
    padding: 0 20px;
}

nav>div:first-child {
    margin-right: auto;
}

nav>a {
    margin: 0 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.loginButton {
    margin-left: auto;
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
    background-color: transparent;

}

.loginButton>a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 7px 7px;
    background-color: var(--corAzulClaro);
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 10px;
}

.loginButton>a:first-child {
    background-color: var(--corAzulEscuro);
}

.loginButton>a:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}